@media only screen and (max-width: 1024px) {
    div.one {
        visibility: hidden;
    }

    div.three {
        visibility: hidden;
    }

    div.meddleText {
        width: 100%;
        height: 30%;
    }

    div#content {
        background: url(/public/img/bgm.jpg) no-repeat;
    }

    form#formPhone {
        left: 5%;
        height: 35%;
        width: 90%;
    }
}