@media only screen and (max-width: 1024px) {
    div.one {
        visibility: hidden;
    }

    div.three {
        visibility: hidden;
    }

    div.meddleText {
        width: 100%;
        left: 0;
    }

    div#content {
        background: url(/public/img/bgm.jpg) no-repeat;
    }
}