/* CORE STYLE */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

div#all {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* END CORE STYLE */

/* PHONE STYLE */

.hiddenForm {
    visibility: hidden;
    transform: scale(0);
}

.visibleForm {
    visibility: visible;
    transform: scale(1);
}

div.phone {
    position: fixed;
    height: 4em;
    width: 5em;
    top: 80%;
    left: 0;
    background-color: rgb(0, 200, 0);
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    box-shadow: 0 0 20px rgb(77, 77, 77);
}

div.phone:hover {
    cursor: pointer;
}

img.phone_icon {
    height: 4em;
    margin-left: 1em;
    transition-duration: 300ms; 
    animation: heart_beat 1s infinite;
}

@keyframes heart_beat {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(0.7);
    }

    40% {
        transform: scale(1);
    }

    90% {
        transform: scale(0.7);
    }
}

form#formPhone {
    position: fixed;
    top: 20%;
    left: 40%;
    height: 25%;
    width: 20%;
    background-color: rgba(22, 255, 22, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transition-duration: 300ms;
}

input.inpPhone {
    display: block;
    width: 80%;
    margin-top: 1em;
    margin-left: 10%;
    border-radius: 20px;
    outline: none;
    text-align: center;
    border: 0;
    font-size: 1.5em;
    padding: 0.3em;
    transition-duration: 600ms;
}

input.inpPhone:focus {
    background-color: rgb(32, 255, 32);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

input.phoneBtn {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(22, 240, 0), rgb(0, 255, 0));
    box-shadow: 1px 2px 5px rgb(0, 0, 0); 
}

input.phoneBtn:hover {
    cursor: pointer;
    box-shadow: none;
    border: 1px solid rgb(255, 255, 255);
}

/* END PHONE STYLE */

/* HEADER STYLE*/

header {
    position: fixed;
    width: 100%;
    height: 5em;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

div.one {
    position: fixed;
    width: 30%;
    height: 5em;
    top: 0;
    left: 0;
    text-align: center;
}

div.one > img {
    position: fixed;
    top: 0.5em;
    left: 5%;
    height: 4em;
    animation: spinTime 3s infinite;
}

@keyframes spinTime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

p.textS {
    position: inline-block;
    line-height: 5em;
    font-weight: 500;
}

div.two {
    position: fixed;
    top: 0;
    left: 30%;
    width: 40%;
    height: 5em;
    text-align: center;
}

div.two > img {
    height: 6em;
    margin-top: -1em;
    text-align: center;
}

div.three {
    position: fixed;
    top: 0;
    left: 70%;
    width: 30%;
    height: 5em;
}

p.number {
    line-height: 1.7em;
    display: inline;
    font-size: 1.5em;
    font-weight: 700;
}

p.callBack {
    float: right;
    font-size: 1.5em;
    margin: 0.5em;
    margin-right: 2em;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(22, 255, 22), rgb(0, 255, 0));
    padding: 0.5em;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

p.callBack:hover {
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    cursor: pointer;
}

/* CONTENT STYLE*/

div#content {
    height: 100%;
    flex: 1 0 auto;
    text-align: center;
    background: url(/public/img/bg.jpg) no-repeat;
    background-size: 100%;
    z-index: -88;
}

div.meddleText {
    padding-top: 2em;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    width: 35%;
    height: 15%;
    text-align: center;
    margin-top: 20%;
}

/* FOOTER STYLE*/
footer {
    height: 30em;
    flex: 0 0 auto;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border-top: 1px solid rgb(72, 72, 72);
}


/* STYLE FOR CONTACT*/
iframe {
    width: 100%;
    height: 100%;
}